* {
    font-family: 'Miss Font', 'PingFang SC', 'Source Han Serif', 'Noto Sans SC', 'Open Sans', 'MiSans', sans-serif !important;
    color: #fff;
    text-shadow: 0 .1875rem .3125rem #1c1f21;
}

html {
    --theme: #73aaff;
    --seat: #c0c4cc;
}

::-moz-selection {
    color: #fff;
    background: var(--theme)
}

::selection {
    color: #fff;
    background: var(--theme)
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 9px;
    height: 8px;
}

/*定义滚动条轨道*/
::-webkit-scrollbar-track {
    background-color: white;
    -webkit-border-radius: 0em;
    -moz-border-radius: 0em;
    border-radius: 0em;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
    background-color: #ff676c;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .4) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .4) 50%, rgba(255, 255, 255, .4) 75%, transparent 75%, transparent);
    -webkit-border-radius: 2em;
    -moz-border-radius: 2em;
    border-radius: 2em;
    cursor: pointer;
}


.box-shadow {
    /*byd别的css休想给我覆盖嗷*/
    background: rgba(255, 255, 255, 0.2) !important;
    backdrop-filter: blur(2.5px) !important;
    box-shadow: inset 0 0 6px rgba(255, 255, 255, 0.2) !important;
}

/* 确保整个页面的body和html占满整个视口高度 */
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    transition: background-image 0.5s ease !important;
    background-attachment: fixed;
    position: relative;
    /* 确保伪元素定位正确 */
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
    transition: all 0.3s;
}

#container {
    min-height: 100%;
    display: grid;
    /* 容器为grid布局 */
    grid-template-rows: auto 1fr auto;
}

main {
    margin-top: 50px;
}

@media (max-width: 600px) {
    body {
        background-image: url("https://t.alcy.cc/mp/");
    }

    body::before {
        opacity: 1;
        /* 在移动设备上显示渐变效果 */
    }
}

@media (min-width: 601px) {
    body {
        background-image: url("https://t.alcy.cc/pc/");
    }

    body::before {
        opacity: 1;
        /* 在桌面设备上显示渐变效果 */
    }
}

main section {
    border-radius: 15px;
    padding: 10px;
}

footer {
    position: relative;
    bottom: 0;
    max-height: 200px;
    padding: 10px;
}